<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/gridCSS.css">
    <script src= "../app.js"></script>
    <script src= "/js/java_script.js"></script>
    <title>about us page</title>
</head>
<body onload="loadPage()" dir ="rtl">
    <header id="header"></header>
    <div class="about-grid-container">
        <div class="about-header"> 
            <h1>סטודיו פוזיטיב </h1>
        </div>
        <div class="about-info">
            <p>פוזיטיב הוא סטודיו הנותן מענה לכלל הסטודנטים/ות בקמפוס, לעובדי/ות אונ' ותושבי/ות העיר. <br>
                הסטודיו פועל באופן שוטף ומציע מגוון רחב של אימונים במחירים סטודנטיאליים. <br>
                את האימונים מעבירים מדריכים מקצועיים עם מגוון הכשרות כל אחד/ת בתחומו/ה. <br>
                במערכת השעות שלנו תוכלו למצוא אימונים פונקציונליים, HIIT, ספינינג, מדרגה, זומבה, קיקבוקס, רצועות, עיצוב, פילאטיס, יוגה, היפ הופ, טוורקינג, מחול מודרני ומחול קלאסי.</p>
        </div>
        <div class="about-info-2">
            <h3>אז איפה הסטודיו נמצא? </h3>
            <p>
                סטודיו POSITIVE (גדול) – בו מתקיימים אימוני ספינינג, אירובי, אימוני כח ופונקציונלי
                נמצא בבניין 72, קומה מינוס 1. <br>
                סטודיו POSITIVE + (קטן) – בו מתקיימים רק מחול יוגה ופילאטיס
                נמצא בבית הסטודנט קומה מינוס 1 חדר מינוס 129.
            </p>
        </div>
        <div class="about-map">
            <a  target="_blank" href="https://www.google.com/maps/place/%D7%90%D7%A8%D7%92%D7%95%D7%9F+%D7%94%D7%A1%D7%92%D7%9C+%D7%94%D7%90%D7%A7%D7%93%D7%9E%D7%99+%D7%94%D7%96%D7%95%D7%98%D7%A8+%D7%91%D7%90%D7%95%D7%A0%D7%99%D7%91%D7%A8%D7%A1%D7%99%D7%98%D7%AA+%D7%91%D7%9F+%D7%92%D7%95%D7%A8%D7%99%D7%95%D7%9F+%D7%91%D7%A0%D7%92%D7%91%E2%80%AD/@31.2628049,34.8045294,17z/data=!4m12!1m6!3m5!1s0x1502665f2e01c71b:0x15ca4db0c140b893!2z15DXldeg15nXkdeo16HXmdeY16og15HXny3XkteV16jXmdeV158g15HXoNeS15E!8m2!3d31.262218!4d34.801461!3m4!1s0x0:0x2fbc31eacf505427!8m2!3d31.2634383!4d34.8016795">
                <img src="../img/map.jpeg.jpg" alt="error" style="width: 100%;">
            </a>

        </div>
    </div>

    <div class="contact-grid-container">
        <div class="contact-head">
            <h2 id="contact"> צור קשר</h2>  
        </div>
        <div class="contact-form">
            <form method="POST" action="http://localhost:8080/newReq" name="contact-form" onsubmit="validate_contact_Form()">
            <label for="name">שם מלא</label> <br>
            <input id="name" type="text" name="name"  required> <br>
            <label for="email">כתובת אימייל</label> <br>
            <input id="email" type="email" name="email" required> <br>
            <label for="phone">מספר טלפון</label> <br>
            <input id="phone" type="text" name="phone" > <br>
            <label name="text">תוכן הפניה</label> <br>
            <textarea name="text" id="text" cols="50" rows="10"></textarea> <br> <br>
            <input type="submit" style="font-family:'text'" >
        </form>
        </div>
        <div class="contact-info">
            <p>
                <u> משרד שירותים </u><br>
                <strong>מיקום:</strong>  בית הסטודנט(70), קומת קרקע  <br>
                <strong>משרד:</strong> 08-6472340 <br> 
                <strong> מייל: </strong>office@aguda.bgu.ac.il
            </p>
            <p>
                <u> מנהלת הסטודיו </u><br>
                <strong>מיקום:</strong>  בית הסטודנט(70), קומה 1, חדר 163  <br>
                <strong> מייל: </strong>b-positive1@aguda.bgu.ac.il
            </p>
        </div>
      
        <div class="contact-icons">
            <label> טלפון: 050-2320161 </label>
            <a href="https://www.facebook.com/BGU.Positive/" target="_blank" style="text-decoration:none;">
            <img src="../img/facebook_icon.png" alt=פייסבוק width="20px">
            <label> פייסבוק </label>
            </a>
            <a href="https://www.instagram.com/bgu.positive/" target="_blank" style="text-decoration:none;">
                <img src="../img/Instagram_logo.png" alt=INSTAGRAM width="20px">
                <label> אינסטגרם </label>
            </a>
            
        </div>
    </div>



    

    <div id="footer" dir="ltr"></div>
</body>
</html>