<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/main.css">
    <link rel="stylesheet" href="../public/CSS/gridCSS.css">
    <link rel="stylesheet" href="../public/CSS/home-page.css.css">
    <script src= "../public/js/java_script.js"></script>
    <title>home page</title>
</head>
<body onload="LoadTable()" dir ="rtl">
    <header id="header"></header>

    <div class="home-grid-container">
        <div class="home-message-box">
          <div class="home-slidershow middle">

            <div class="home-slides">
              <input type="radio" name="r" id="r1" checked>
              <input type="radio" name="r" id="r2">
              <input type="radio" name="r" id="r3">
              <input type="radio" name="r" id="r4">
              <input type="radio" name="r" id="r5">
              <div class="slide s1">
                <img src="../public/img/positive_logo.png" alt="">
              </div>
              <div class="slide">
                <img src="../public/img/2.jpg" alt="">
              </div>
              <div class="slide">
                <img src="../public/img/3.jpg" alt="">
              </div>
              <div class="slide">
                <img src="../public/img/4.jpg" alt="">
              </div>
              <div class="slide">
                <img src="../public/img/5.jpg" alt="">
              </div>
            </div>    
            <div class="navigation">
              <label for="r1" class="bar"></label>
              <label for="r2" class="bar"></label>
              <label for="r3" class="bar"></label>
              <label for="r4" class="bar"></label>
              <label for="r5" class="bar"></label>
            </div>
          </div>      
        </div>
  
        <div class="home-studio-reg">
          <br> <br>
     <h2>שיעורי הסטודיו:</h2> <br>          
        <div class="studio-container" id="studio-reg">     
 
            <a class="card" href="http://localhost:8080/class/1" >      
             <div class="imgBx"><img src="../public/img/spinning.jpg" alt="error"></div>
             <div class ="contentBx" id=spinning>    
                    <div class="name"><h2>ספינינג</h2></div>
                    <div class="content"> <p>שיעור ספינינג לשיפור הכושר הגופני </p> </div>
                 </div>  
            </a>
            
            <a class="card" href="http://localhost:8080/class/2" >      
             <div class='imgBx'><img src="../public/img/funct.jpg" alt=""> </div>     
             <div class="contentBx" id=functional>
                <div class="name"><h2>אימון פונקציונלי</h2></div>
                <div class="content"><p >אימוני כוח וסיבולת מגוונים  </p> </div>
             </div>  
        
             </a>   
   
          <a class="card" href="http://localhost:8080/class/3" >      
           <div class='imgBx'><img src="../public/img/kickbox.jpg" alt=""> </div>
           <div class="contentBx" id=kickbox>   
              <div class="name"><h2>קיקבוקס</h2></div>
              <div class="content"> <p>אימון קיקבוקסינג לשיפור הכושר והסיבולת </p> </div>
           </div>  
           </a>
 
 
            <a class="card" href="http://localhost:8080/class/4" >      
               <div class="imgBx"><img src="../public/img/HIIT.jpg" alt= "error"></div>
               <div class="contentBx" id=hiit> 
                    <div class="name"><h2>אימון היט</h2></div>
                    <div class="content"> <p>אימוני היט מגוונים למתחילים ומתקדמים לפיתוח הגוף</p></div>
                 </div>  
            </a>
        </div>
    </div>
   

     
     <div class="home-studio-plus">
        <br> <br>
        <div><h2>שיעורי סטודיו פלוס:</h2></div>
         <div class="studio-container" id="studio-plus">
    
         
          <a class="card" href="http://localhost:8080/class/5" >      
            <div class="imgBx">        
                    <img src="../public/img/pilates.jpg" alt="error">    </div>
              <div class ="contentBx" id=pilates>
               <div class="name"><h2>פילאטיס</h2></div>
               <div class="content"> <p>שיעור פילאטיס מקצועי לשיפור הגמישות והכושר </p> </div>
            </div>  
          </a>
       
       
            <a class="card" href="http://localhost:8080/class/6" >      
              <div class="imgBx">
                <img src="../public/img/yoga.jpg" alt="error">  </div>
             <div class="contentBx" id=yoga>
                 <div class="name"><h2>יוגה</h2></div>
                 <div class="content"> <p>שיעור יוגה למתחילים ומקתדמים לחיזוק הגוף והנפש </p> </div>
              </div>  
          <a
           class="card" href="http://localhost:8080/class/7" >      
           <div class="imgBx">        
            <img src="../public/img/dance.jpg" alt="error"></div>
            <div class="contentBx" id=dance>
                   <div class="name"><h2>ריקוד</h2></div>
                   <div class="content"> <p>ריקודים סלוניים ומודרניים לזוגות וליחידים </p> </div>
                </div>  
               </a>
      
           <a class="card" href="http://localhost:8080/class/8" >      
            <div class="imgBx">        
              <img src="../public/img/trx.jpg" alt="error"></div>
              <div class="contentBx" id=trx> 
               <div class="name"><h2>אימון רצועות</h2></div>
               <div class="content"> <p>אימון גופני בשימוש רצועות</p> </div>
            </div>  
         </a>
      
      </div>

  </div>



         <div class="home-schedule-container" id='schedule' >
            <br> <br> <br> <br>
          <h1>השיעורים השבוע:</h1>
          <div class="week1" id="week1"> 

            <div class="week-days-container">
                <span class="corner"></span>
                <div class="week-day" >ראשון <p id='date-picker0'></p>
                    
                </div>
             
                <div class="week-day">שני <p id='date-picker1'></p>  </div>
                <div class="week-day">שלישי <p id='date-picker2'></p></div>
                <div class="week-day">רביעי<p id='date-picker3'></p></div>
                <div class="week-day">חמישי<p id='date-picker4'></p></div>
                <div class="week-day">שישי<p id='date-picker5'></p></div>
                <div class="week-day">שבת<p id='date-picker6'></p></div>
            </div>
            <div class="part__day">
                <span class="morning">בוקר </span>
                <div class="lesson" id ='11'></div>
                <div class="lesson" id = 12></div>
                <div class="lesson" id = 13></div>
                <div class="lesson" id = 14></div>
                <div class="lesson" id = 15></div>
                <div class="lesson" id = 16></div>
                <div class="lesson" id = 17></div>
            </div>
            <div class="part__day">
                <span class="afternoon">צהריים</span>
                <div class="lesson" id = 21></div>
                <div class="lesson" id = 22></div>
                <div class="lesson" id = 23></div>
                <div class="lesson" id = 24></div>                   
                <div class="lesson" id = 25></div>
                <div class="lesson" id = 26></div>
                <div class="lesson" id = 27></div>
            </div>
            <div class="part__day">
                <span class="evening">ערב</span>
                <div class="lesson" id = 31></div>
                <div class="lesson" id = 32></div>
                <div class="lesson" id = 33></div>
                <div class="lesson" id = 34></div>
                <div class="lesson" id = 35></div>
                <div class="lesson" id = 36></div>
                <div class="lesson" id = 37></div>
            </div>
      
         <div id="footer" dir="ltr"></div>
      </div>

   </div>
       
  
  </div>
  <div class="popup" id=popup>     
      <div class="overlay"></div>
        <div class="popcontent">
      <p>השיעור מלא !</p>
      <button class="btn_cls" onclick="togglePopup()">חזרה</button>         
     </div> 
 </div>


 <div class="popup" id="details">
  <div class="overlay"></div>
     <div class= "popcontent" >
        <div id="lesson-details">פרטי השיעור: </div> <br><br>
        <button class="btn_cls" id='href1' >לחץ להרשמה </button> 
        <button class="btn_cls" onclick="togglePopup()">חזרה</button>  
            
    </div>
</div>
</div>

</body>
</html>